<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/flickity/dist/flickity.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/aos/dist/aos.js"></script>
<script src="@@webRoot/node_modules/smooth-scroll/dist/smooth-scroll.min.js"></script>

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/aos.js"></script>
<script src="@@webRoot/assets/js/smooth-scroll.js"></script>
<script src="@@webRoot/assets/js/theme.js"></script>
<!-- endbuild -->
