<div class="curtains__slider">
  <div class="curtains">
    <div class="curtain active">
      <!-- curtain 1 -->
      <div class="curtain__sides">
        <div class="half__left">01</div>
        <div class="half__right"></div>
      </div>
      <div class="infos__holder">
        <div class="slide__infos">
          <h2>BUSINESS</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="curtain">
      <!-- curtain 2 -->
      <div class="curtain__sides">
        <div class="half__left">02</div>
        <div class="half__right"></div>
      </div>
      <div class="infos__holder">
        <div class="slide__infos">
          <h2>BUSINESS</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="curtain">
      <!-- curtain 3 -->
      <div class="curtain__sides">
        <div class="half__left">03</div>
        <div class="half__right"></div>
      </div>
      <div class="infos__holder">
        <div class="slide__infos">
          <h2>BUSINESS</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider Nav -->
  <a id="next__arrow" href="#0"><span></span></a>
  <a id="previous__arrow" href="#0"><span></span></a>
</div>
